
.alert{
    position: relative !important;
    display: inline-block;
    font-weight: $alert-font-weight;
    line-height: $alert-line-height;
    color:$body-color;
    white-space: normal;
    text-align: left;
    vertical-align: middle;
    background-image: none;
    border: $alert-border-width solid transparent;
    font-size: $font-size-base;
    border-radius: $border-radius;
    padding: $btn-padding-y $btn-padding-x;
}
.alert-success{
    @include alert-style($success);
}

.alert-warning{
    @include alert-style($warning);
}

.alert-error{
    @include alert-style($danger);
}

.alert-info{
    @include alert-style($primary);
}